body{
    background: linear-gradient(90deg, #97C8F9, #9FE7EE);
    font-family: "Poppins";
}
.clr-white
{
    color: white;
}
.login-wrapper{
    min-width: 340px;
    margin: auto;
    max-height: fit-content;
    background-color: white;
}
.login-input{
    border: 0px solid #ced4da;
    border-bottom: 1px solid #00000052;
    border-radius:0px;
}
.login-form{
    padding: 30px;
}
.login-form img{
   width: 57%;
    padding: 8px;
}
.img-container {
    padding: 25px 0px;
    width: 30%;
    box-sizing: border-box;
    box-shadow: 1px 1px 7px -3px;
    border-radius: 54%;
    margin-bottom: 10px !important;
}
.other_link{
    text-align: right;
}

.eye .btn{
    position: absolute;
    padding: 0;
    margin: 0;
    right: 20px;
}
.eye .btn:focus, .eye .btn:active{
    outline: none !important;
}
@media (max-width: 576px) {
    .login-wrapper{
        max-width: 100% !important;
    }
    .other_link{
        text-align: left;
    }
 }
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .login-wrapper{
        max-width: 100% !important;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .login-wrapper{
        max-width: 80% !important;
    }
 }
