body {
  background: linear-gradient(90deg, #97C8F9, #9FE7EE);
  font-family: "Poppins";
}

.clr-white {
  color: white;
}

.login-wrapper {
  min-width: 340px;
  margin: auto;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: white;
}

.login-input,
.form-input {
  border: 0px solid #ced4da;
  border-bottom: 1px solid #00000052;
  border-radius: 0px;
}

.login-form {
  padding: 30px;
}

.login-form img {
  width: 57%;
  padding: 8px;
}

.img-container {
  padding: 25px 0px;
  box-sizing: border-box;
  box-shadow: 1px 1px 7px -3px;
  border-radius: 54%;
  margin-bottom: 10px !important;
}

.other_link {
  text-align: right;
}

.sh {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 20px;
}

.sh:focus {
  outline: 0 !important;
  box-shadow: none;
}

.login-input:focus,
.form-input:focus {
  outline: 0 !important;
  box-shadow: none;
}

@media (max-width: 576px) {
  .login-wrapper {
    max-width: 100% !important;
  }

  .other_link {
    text-align: left;
  }

  .img-container {
    width: 40%;
  }
}

@media (min-width: 576px) {
  .login-wrapper {
    max-width: 100% !important;
  }

  .img-container {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .img-container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .login-wrapper {
    max-width: 80% !important;
  }

  .img-container {
    width: 50%;
  }
}

