html,
body {
  overflow-x: hidden;
  background: #97c8f9;
  background: linear-gradient(90deg, #97c8f9 0%, #9ee7ed 100%);
}

.container {
  background: transparent;
}

header {
  margin-top: 25px;
  color: #fff;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

main {
  margin-top: 90px;
  background: #fff;
  max-width: 395px;
  padding: 70px 0;
}

main img {
  max-width: 115px;
  padding: 25px;
  background: #fff;
  border-radius: 50%;
  box-shadow: -5px 4px 45px 21px rgba(116, 186, 255, 0.07);
}

main form {
  margin-left: 40px;
  margin-top: 35px;
  color: #949494;
  font-size: 16px;
}

main form label {
  margin: 0;
  font-size: 24px;
  margin-right: 15px;
}

main form input {
  background: transparent;
  border-bottom: 1px solid #e8e8e8;
  line-height: 2;
  width: 272px;
  margin-bottom: 25px;
}

main form input:focus {
  outline: none;
}

main form .password-container {
  position: relative;
}

main form .password-container input {
  width: 272px;
}

main form .fa-eye-slash {
  position: absolute;
  right: 45px;
  top: 10px;
}

main form .fa-eye {
  position: absolute;
  right: 45px;
  top: 10px;
}

main form .forgot {
  color: #97c8f9;
  font-weight: 600;
  margin-right: 45px;
  float: right;
}

main form .submit {
  width: 310px;
  padding: 14px 50px;
  border: none;
  background: #97c8f9;
  border-radius: 10px;
  color: #fff;
  margin-top: 25px;
}

footer {
  color: #fff;
  margin-top: 90px;
}

footer ul li {
  display: inline-block;
  margin-right: 25px;
}

@media only screen and (max-width: 376px) {
  main {
    margin-top: 50px;
  }

  main form {
    margin-left: 20px;
    padding: 10px 0;
    margin-bottom: 0;
  }

  main form label {
    margin-right: 10px;
  }

  main form input {
    width: 252px;
  }

  main form .password-container input {
    width: 252px;
  }

  main form .submit {
    width: 290px;
  }

  main footer {
    margin-top: 50px;
  }

  main footer .text-md-right {
    display: none;
  }
}

@media only screen and (min-width: 1366px) {
  footer {
    margin-top: 120px;
  }
}



